:root {
    --fonte: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --icones-fundo: #ffffff;
    --letras: #242424;
    --faixa-bemvindo:#rgb(240,240,240);
    --letreiro-texto: #rgb(36,36,36);
    --coricone: #rgb(0,78,140);
    --backgroundbemvindo: #f0f0f0;
    --coradc-evento: #9e9e9e;
    --vertudo: #00457e;
    --naoexistemeventos: #616161;
    --backgroundevento: #004e8c;
}
body {
    height: 100vh;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* margin: 8;
    padding: 10px; */
    background: var(--backgroundbemvindo);
}
.ajustar-img{
   
    background-color: var(--backgroundbemvindo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    border: none;
    /* margin: 8px; */
    padding: 8px;
    width:100%;
    background-color: white;
 
}
.formatar-texto{
    color: var(--letras) ;
    display: block;
    width: 100%;
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.4em;
    text-align: left;
    color: var(--letreiro-texto);
    background-color: var(--backgroundbemvindo);
    padding: 10px 10px 0;
    
}
.formatar-texto__2{
    color: var(--letras) ;
    text-align: left;
    color: var(--letras);
    font-size: 28px;
    font-family: var(--fonte);
    margin: 10px 0;
    line-height: 1.4em;
    text-align: center;
    font-weight: 600! important;
    background-color: var(--backgroundbemvindo);
    padding: 10px 1px 0;
   
}
.formatar-texto__3{
    color: var(--letras) ;
    width: 100%;
    justify-content: left;
    text-align: left;
    margin: 10px 0;
   
}
.estrela{
    font-variant: normal; /*retirar*/
}





  
  .botao-seguir {
    display: block;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    color: var(--letras)
    
  }
  
  svg {
    height: 22px;
    width: 50px;
    margin-right: 0px;
    padding: 30px;
  }
  
  .star-white {
    fill: var(--icones-fundo)  /* Cor da estrela quando não está seguindo */
  }
  
  .star-blue {
    fill: var(--backgroundevento); /* Cor da estrela quando está seguindo */
  }
  
  .follow-button span {
    transition: color 0.3s;
  }
  
  .follow-button.following span {
    color: var(--backgroundevento) /* Cor do texto quando está seguindo */
  }
  

.ajustar-img__2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.image-container{
    display: block;
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}